div.form-group {
    margin-top: 35px;
    margin-bottom: 35px;
}
.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.index .lead {
	font-size: 1em;
}

.index h1 small {
	margin-left: 40px;
	font-size: 60%;
}

.index .card {
	margin-top: 80px;
}